<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CSVFilePath" value="C:\Reports\ExtractFiles"/>
    <add key="CSVDelimiter" value="|"/>
    <add key="CSVFileNameEndsWith" value="EmployeeReport"/>
  </appSettings>
  <connectionStrings>
    <add name="EmployeeDataContext" connectionString="data source=localhost;initial catalog=EmployeeDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>